.container-prediction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 20px;
}

.prediction-form,
.prediction-result {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    background-color: #fff;
}

.prediction-result {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    background-color: #fff;
    position: relative;
}

.prediction-result::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.result-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #ccc;
}

.prediction-result img {
    max-width: 100%;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.prediction-result img:hover {
    transform: scale(1.05);
}

.prediction-form input[type="file"],
.prediction-form select,
.prediction-form button {
    width: calc(100% - 40px);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.prediction-form button {
    background-color: #2dc997;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.prediction-form button:hover {
    background-color: #032b1e;
}

@media (max-width: 768px) {
    .container-prediction {
        flex-direction: column; /* Đổi hướng layout thành dọc */
    }

    .prediction-form,
    .prediction-result {
        max-width: 100%; /* Chỉnh lại độ rộng cho các phần tử */
        margin: 0;
        margin-bottom: 20px;
    }
}
