{% extends 'main.html' %}

{% block css %}
<link href="static/css/abstract.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!--Abstract Start-->
<section class="abstract" id="abstract">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h1>Abstract</h1>

                <p>
                    A brain tumor is a collection, or mass, of abnormal cells 
                    in your brain. Your skull, which encloses your brain, is 
                    very rigid. Any growth inside such a restricted space can 
                    cause problems. Brain tumors can be cancerous (malignant) 
                    or noncancerous (benign). When benign or malignant tumors 
                    grow, they can cause the pressure inside your skull to increase. 
                    This can cause brain damage, and it can be life-threatening.
                </p>
            </div>
        </div>
    </div>
</section>
<!--Abstract End-->
{% endblock content %}