{% extends 'main.html' %}

{% block css %}

{% endblock %}

{% block content %}
<br><br><br><br><br><br>
    <table border="1" cellpadding="8px" width="100%" style="background-color:#fcf3f3; margin:auto; text-align: center;">
        <tr style="background-color:rgb(1, 136, 255);color:white">
            <td>Username</td>
            <td>Password</td>
            <td>Email</td>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{item.username}}</td>
            <td>{{item.password}}</td>
            <td>{{item.email}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}