{% extends 'main.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/contact.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<!--Contact Start-->

<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h1>Get In Touch</h1>
            </div>
        </div>
        <div class="row">
            <div class="contact-form">
                <div class="row">
                    <div class="contact-text">
                        <h2>Drop Us Message</h2>
                        <p>Our inbox is always open We'll try our best to get back to you!</p>
                    </div>
                </div>
                <div class="row space-between">
                    <div class="col-6">
                        <input type="text" class="form-control" name="" placeholder="Name" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="" placeholder="Email" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <textarea class="form-control" placeholder="Your Message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="button btn">
                        <a href="/">Sent</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="static/js/app.js"></script>
<!--Contact End-->
{% endblock content %}