{% extends 'main.html' %}
{% load static %}

{% block main %}
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Prediction History</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Prediction History</li>
            </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs Section -->

<section class="inner-page pt-4">
    <div class="container">

        <style>
            body {
                font-family: 'lato', sans-serif;
            }

            .container {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 10px;
                padding-right: 10px;
            }

            h2 {
                font-size: 26px;
                margin: 20px 0;
                text-align: center;

                small {
                    font-size: 0.5em;
                }
            }

            .responsive-table {
                li {
                    border-radius: 3px;
                    padding: 25px 30px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;
                }

                .table-header {
                    background-color: #95A5A6;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 0.03em;
                }

                .table-row {
                    background-color: #ffffff;
                    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
                }

                .col-1 {
                    flex-basis: 10%;
                }

                .col-2 {
                    flex-basis: 40%;
                }

                .col-3 {
                    flex-basis: 25%;
                }

                .col-4 {
                    flex-basis: 25%;
                }

                @media all and (max-width: 767px) {
                    .table-header {
                        display: none;
                    }

                    .table-row {}

                    li {
                        display: block;
                    }

                    .col {

                        flex-basis: 100%;

                    }

                    .col {
                        display: flex;
                        padding: 10px 0;

                        &:before {
                            color: #6C7A89;
                            padding-right: 10px;
                            content: attr(data-label);
                            flex-basis: 50%;
                            text-align: right;
                        }
                    }
                }
            }
        </style>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Method</div>
                <div class="col col-3">Type</div>
                <div class="col col-2">Result</div>
                <div class="col col-4">Created At</div>
            </li>
            {% if predictions %}
            {% for prediction in predictions %}
            <li class="table-row">
                <div class="col col-1" data-label="Method">{{ prediction.prediction_method }}</div>
                <div class="col col-3" data-label="Diagnosis Type">{{ prediction.diagnosis_type }}</div>
                <div class="col col-2" data-label="Result">{{ prediction.result }}</div>
                <div class="col col-4" data-label="Created At">{{ prediction.created_at }}</div>
            </li>
            {% endfor %}
            {% else %}
            <li class="table-row">
                <div class="col col-1">No data</div>
            </li>
            {% endif %}
        </ul>

    </div>
</section>
{% endblock %}