{% extends 'main.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<!--Home Start-->

<section class="home" id="home">
    <div class="container">
        <div class="row full-screen">
            <div class="home-content">
                <div class="block">
                    <h1>Brain Cancer Diagnosis Using</h1>
                    <h3>Deep Learning</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Home End-->
{% endblock content %}