{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Detection</title>
    <link rel="shortcut icon" type="image/png" href="static/favicon.png">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="static/css/header.css" rel="stylesheet" />
    <link href="{% static 'css/footer.css' %}" rel="stylesheet" />
    <link href="{% static 'css/header.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/upload.css' %}" rel="stylesheet" />
</head>

<body class="upload">
    <h1>Medical Image Diagnosis</h1>
    <form id="uploadForm" action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" accept=".jpg, .jpeg, .png">
        <button type="submit">Process Image</button>
    </form>
    <div id="imagePreview"></div>
    <div id="predictionResult"></div>

    <!-- Hidden input field to store image URL -->
    <input type="hidden" id="imageURLInput" name="imageURL">

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(data => {
                    document.getElementById('predictionResult').innerText = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        document.getElementById('fileInput').addEventListener('change', function (e) {
            var file = e.target.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = document.createElement("img");
                img.src = e.target.result;
                img.width = 200; // Set width for displaying image
                document.getElementById("imagePreview").innerHTML = "";
                document.getElementById("imagePreview").appendChild(img);

                // Set the image URL to the hidden input field
                document.getElementById("imageURLInput").value = e.target.result;
            };
            reader.readAsDataURL(file);
        });
    </script>
</body>

</html>